<header id="site-nav">
    <nav>
        <a href="#main" id="main-content" tabindex="0">Skip to main content</a>
        <ul>
            <li id="home">
                <a href="{{ get_url(path='/') | safe }}">{{ config.title }}</a>
            </li>
            {% for link in config.extra.nav.links %} {%- if link.url is
            matching('https?://') %}
            <li>
                <a href="{{ link.url | safe }}">{{ link.name }}</a>
            </li>
            {%- else %}
            <li>
                <a href="{{ get_url(path=link.url | safe )}}"
                    >{{ link.name }}</a
                >
            </li>
            {%- endif %} {% endfor %} {% if config.extra.nav.show_feed %}
            <li id="feed">
                <a href="{{ get_url(path=config.feed_filename) | safe }}">
                    <svg
                        viewBox="0 0 16 16"
                        fill="currentColor"
                        height="16"
                        width="16"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M1.988 1.988V3c.008.547.453.984 1 .988.004-.004.008-.004.012-.004v.028A8.977 8.977 0 0 1 11.988 13a.991.991 0 0 0 1 .984h1V13h-.004c0-.004 0-.004.004-.008C13.984 7.02 9.184 2.148 3.242 2.02A1.004 1.004 0 0 0 3 1.988v-.004zm0 4V7c.008.547.453.984 1 .988.004-.004.008-.004.012-.004V8a4.985 4.985 0 0 1 4.996 4.844 1.002 1.002 0 0 0 .988 1.145c.008-.005.012-.005.016-.005v.004h.984V13H10c0-3.793-3.047-6.898-6.82-6.992 0-.004-.004-.004-.004-.004A.892.892 0 0 0 3 5.988v-.004zm2 4a1.999 1.999 0 1 0-.002 3.998 1.999 1.999 0 0 0 .002-3.998m0 0"
                        ></path>
                    </svg>
                    Feed
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>
